.school-background{
	// background-color:$white;
	// box-shadow: $dropshadow-nav;
	

	img{
		width: 100%;
		margin-top:50px;
		// border:4px solid $white;
	}

	figcaption{
		font-size: 2em;
		// background-color:$white;
		padding: 10px 15px;
	}
}

.student-service{
	img{
		width: 100%;
		margin-top: 50px;
	}
}

.iterm{
	background-color:$white;
	border:1px solid $gray;
	height:200px;
}

button{
	text-align:center;
	margin:10px auto;
}